
.auth_common_wrapper{
    margin: 50px auto;
    max-width: 800px;
    padding: 20px;
}

.login_wrapper{
    margin: 120px auto;
    max-width: 500px;
    padding: 20px;
}

.password_wrapper{
    margin: 120px auto;
    max-width: 800px;
    padding: 20px; 
}

/* media */

@media (max-width: 767px) {
    .auth_common_wrapper {
        margin: 50px auto;
    }
    .login_wrapper{
        margin: 100px auto;
    }
    .custom_btn{
        display: flex;
        flex-direction: column;

    }
    .custom_btn .common_btn{
       
        margin: 20px 0 !important;
        
    }
}