.bio_wrapper {
    margin-top: 150px;
}

.steps_done_wrapper{
    margin: 250px auto;
}

.common_bio_wrapper{
    margin:50px auto 0 auto ;
    /* margin-top: 100px; */
}

.bio_childtable_responsive_class {
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
}
.profile_wrapper{
    margin: 130px auto 30px auto;
}

.selected_file{
    position: relative;
    display: flex;
    justify-content: center;
}

.cross_class{
    font-size: 24px;
    color:red;
}
/* media */

@media  (max-width:768px) {

    .bio_wrapper {
        margin-top: 200px;
    }
    .steps_done_wrapper{
        margin: 250px auto;
    }
    .profile_wrapper{
        margin: 200px auto 30px auto;
    }
    
}