* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font-family: "Ubuntu", sans-serif; */
  -webkit-text-size-adjust: none;
  min-width: 320px;
  overflow-x: hidden;
  background-color: #f1f9fe;
  color: #00B2D4;
}

/* colors  */
.color {
  color: #00B2D4;
}
.background {
  background-color: #00578A;
}

/* Sign Up Master CSS */

.signup-wrapper .signup_intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.signup-wrapper .signup_intro h1 {
  font-size: 40px !important;
}
.signup-wrapper .signup_intro p {
  font-size: 24px !important;
}

.btn-signup {
  background-color: #00578A !important;
  border-color: #00578A;
  outline: #00578A;
  color: #ffffff !important;
  padding: 10px 40px;
  font-size: 20px;
  margin-top: 20px;
}
.btn-signup:hover {
  background-color: #00578A !important;
  border-color: #00578A;
  outline: #00578A;
  color: #ffffff;
}

.btn-later {
  /* background-color: #00578A !important; */
  border-color: #00578A;
  outline: #00578A;
  color: #00578A !important;
  padding: 10px 40px;
  font-size: 20px;
  margin-top: 20px;
}
.btn-later:hover {
  background-color: #00578A !important;
  border-color: #00578A;
  outline: #00578A;
  color: #ffffff !important;
  padding: 10px 40px;
  font-size: 20px;
  margin-top: 20px;
}

/* btn prev & btn next */
.btn-next {
  background-color: #00578A !important;
  border-color: #00578A;
  outline: #00578A;
  color: #ffffff !important;
  padding: 10px 40px;
  font-size: 20px;
  margin-top: 20px;
  width: 160px;
}
.btn-next:hover {
  background-color: #00578A !important;
  border-color: #00578A;
  outline: #00578A;
  color: #ffffff;
}
.btn-prev {
  /* background-color: #00578A !important; */
  border-color: #00578A;
  outline: #00578A;
  color: #00578A !important;
  padding: 10px 40px;
  font-size: 20px;
  margin-top: 20px;
  width: 160px;
}
.btn-prev:hover {
  background-color: #00578A !important;
  border-color: #00578A;
  outline: #00578A;
  color: #ffffff !important;
  padding: 10px 40px;
  font-size: 20px;
  margin-top: 20px;
}
/* btn prev & btn next */
/* singup start css */
.start-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
}

.start-later-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 200px auto;
}

.input-filed-height {
  height: 50px;
}

/* upload file */
/* styles.css */

/* Style the container */
/* .container {
    text-align: center;
    margin-top: 150px;
  } */

/* Style the file input wrapper */
.file-input-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

/* Style the file input button */
.file-input-button {
  background-color: #00578A;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the file input */
#cvUpload {
  position: absolute;
  font-size: 100px;
  opacity: 0;
  right: 0;
  top: 0;
  cursor: pointer;
}

/* Style the file name display */
.file-name {
  margin-top: 10px;
  font-style: italic;
  color: #555;
}

/* thankyou page css */
/* ThankYou.css */

.card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  border-radius: 10px; /* Add rounded corners */
}

/* Login Css */

.login_wrapper {
  width: 400px;
  border: 1px solid #0a2987;
  padding: 15px;
  margin: 180px auto 0 auto;
}

/* Account View  */
.sidebar_wrapper ul li {
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  transition: 0.1s all;
  width: 80%;
  margin-block: 5px;
  text-align: center;
}
.sidebar_wrapper ul li a {
  text-decoration: none;
  color: white;
}
.sidebar_wrapper {
  height: 100vh;
  background-color: #00578A;
}
.sidebar_wrapper ul li:hover {
  background-color: #ffffff;
}
.sidebar_wrapper ul li:hover a{
  color: black;
}
.sidebar_wrapper ul li.active {
  background-color: #ffffff;
}
.sidebar_wrapper ul li.active a{
    color: black;
}
