* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Euclid Circular A";
  src: url("/fonts/Euclid Circular A Regular.ttf");
}

@font-face {
  font-family: "Euclid Circular A Medium";
  src: url("/fonts/Euclid Circular A Medium.ttf");
}

@font-face {
  font-family: "Euclid Circular A Bold";
  src: url("/fonts/Euclid Circular A Bold.ttf");
}
@font-face {
  font-family: "Euclid Circular A Light";
  src: url("/fonts/Euclid Circular A Light.ttf");
}

body {
  font-family: "Euclid Circular A";
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
}

/* colors  */
.white {
  color: #ffffff;
}
.black {
  color: #23282d;
}
.sg_blue {
  color: #00b2d4;
}
.grey {
  color: #787878;
}
.bg_white {
  background-color: #ffffff;
}
.background {
  background-color: #00578a;
}
.dark-blue {
  color: #005587;
}
.cursor {
  cursor: pointer;
}
/* ---------------------------------------------------------- */
/* css for tab */
.nav-underline .nav-link.active,
.nav-underline .show > .nav_link {
  font-weight: 700;
  color: #005587 !important;
  border-bottom-color: currentcolor;
  font-size: 16px !important;
  line-height: 24px !important;
}
.nav-underline {
  --bs-nav-underline-link-active-color: #005587 !important;
}
.nav_link {
  color: #787878 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}
.nav_link:hover {
  color: #787878 !important;
}

/* css for blue button */
.btn_blue {
  background-color: #00a5cd;
  width: 100% !important;
  border-radius: 100px !important;
  padding: 12 20px !important;
  color: white;
}
.btn_blue:hover {
  background-color: #00578a;
  width: 100% !important;
  border-radius: 100px !important;
  padding: 12 20px !important;
  color: white !important;
}
.btn_blue_border {
  background-color: white;
  color: #00578a !important;
  border: 1px solid #00578a;
  width: 100%;
  border-radius: 100px !important;
  padding: 12 20px !important;
}
.btn_blue_border:hover {
  background-color: white;
  color: #00578a !important;
  border: 1px solid #00578a;
  width: 100%;
  border-radius: 100px !important;
  padding: 12 20px !important;
}

/* css for grey button */
.btn_grey_border {
  background-color: white;
  color: #787878 !important;
  border: 1px solid #787878;
  width: 100%;
  border-radius: 100px !important;
  padding: 12 20px !important;
}
.btn_grey_border:hover {
  background-color: white !important;
  color: #787878 !important;
  border: 1px solid #787878 !important;
  width: 100%;
  border-radius: 100px !important;
  padding: 12 20px !important;
}

/* css for delete account button */
.btn_red {
  background-color: #e90000;
  color: white !important;
  border: 1px solid #e90000;
  width: 100%;
  border-radius: 100px !important;
  padding: 12 20px !important;
}
.btn_red:hover {
  background-color: #e90000;
  color: white !important;
  border: 1px solid #e90000;
  width: 100%;
  border-radius: 100px !important;
  padding: 12 20px !important;
}

.text-blue {
  color: #00578a !important;
}
.text-white {
  color: white;
}
.white_text_hover:hover {
  color: #00a5cd !important;
}
/* ---------------------------------------------------------- */

.fs-20 {
  font-size: 20px;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.lh-24 {
  line-height: 24px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-32 {
  font-size: 32px;
  line-height: 24px;
}

/* margins */
.mt-8 {
  margin-top: 8px;
}

.btn:hover {
  color: var(--bs-btn-hover-color);
  background-color: none !important;
  border-color: none !important;
}

.bg_blue {
  background-color: #00b2d4;
}

.cursor {
  cursor: pointer !important;
}
.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* height: 100vh; */
}

.footer {
  margin-top: auto !important;
  background-color: #213040;
  padding: 48px 0;
}

.icon-size {
  font-size: 40px;
}

.error_message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.custom-toast {
  top: 80px;
}

/* attach resume css */

.file {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file > input[type="file"] {
  display: none;
}

.file > label {
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
  outline: 0;
  user-select: none;
  border-color: #00b2d4;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 29%);
  padding: 8px 14px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.file > label:hover {
  border-color: hsl(0, 0%, 21%);
}

.file > label:active {
  background-color: hsl(0, 0%, 96%);
}

.file > label > i {
  padding-right: 5px;
}

.file--upload > label {
  /* color: hsl(204, 86%, 53%);
  border-color: hsl(204, 86%, 53%); */
  color: #00b2d4;
  border-color: #00b2d4;
  text-align: center;
}

.file--upload > label:hover {
  color: #00b2d4;
  border-color: #00b2d4;
}

.file--upload > label:active {
  background-color: hsl(204, 86%, 91%);
}

.file--uploading > label {
  color: hsl(48, 100%, 67%);
  border-color: hsl(48, 100%, 67%);
}

.file--uploading > label > i {
  animation: pulse 5s infinite;
}

.file--uploading > label:hover {
  border-color: hsl(48, 100%, 67%);
  background-color: hsl(48, 100%, 96%);
}

.file--uploading > label:active {
  background-color: hsl(48, 100%, 91%);
}

.file--success > label {
  color: hsl(141, 71%, 48%);
  border-color: hsl(141, 71%, 48%);
}

.file--success > label:hover {
  border-color: hsl(141, 71%, 48%);
  background-color: hsl(141, 71%, 96%);
}

.file--success > label:active {
  background-color: hsl(141, 71%, 91%);
}

.file--danger > label {
  color: hsl(348, 100%, 61%);
  border-color: hsl(348, 100%, 61%);
}

.file--danger > label:hover {
  border-color: hsl(348, 100%, 61%);
  background-color: hsl(348, 100%, 96%);
}

.file--danger > label:active {
  background-color: hsl(348, 100%, 91%);
}

.file--disabled {
  cursor: not-allowed;
}

.file--disabled > label {
  border-color: #e6e7ef;
  color: #e6e7ef;
  pointer-events: none;
}

.circle-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 25px; /* Set the desired width and height for the circle */
  height: 25px; /* Should be the same as width for a perfect circle */
  border-radius: 50%; /* Makes it circular */
  background-color: #1292ee; /* Blue background color */
  color: white; /* White icon color */
  font-size: 14px; /* Adjust the font size as needed */
}

/* Sign Up Master CSS */

.signup-wrapper .signup_intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

.signup-wrapper .signup_intro h1 {
  font-size: 40px !important;
}
.signup-wrapper .signup_intro p {
  font-size: 24px !important;
}

.btn-later {
  /* background-color: #00578A !important; */
  border-color: #00578a;
  outline: #00578a;
  color: #00578a !important;
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 500 !important;
}
.btn-later:hover {
  background-color: #00578a !important;
  border-color: #00578a;
  outline: #00578a;
  color: #ffffff !important;
  padding: 10px 40px;
}

/* btn prev & btn next */
.btn-next {
  background-color: #ffffff !important;
  border-color: #00578a;
  outline: #00578a;
  color: #00b2d4 !important;
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 500 !important;
  margin-top: 20px;
  width: 160px;
}

.btn-next:hover {
  background-color: #aaa !important;
  border-color: #00578a;
  outline: #00578a;
  color: #ffffff !important;
}
.btn-prev {
  background-color: #aaa !important;
  border-color: #00578a;
  outline: #00578a;
  color: #ffffff !important;
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 500 !important;
  margin-top: 20px;
  width: 160px;
}
.btn-prev:hover {
  background-color: #ffffff !important;
  border-color: #00578a;
  outline: #00578a;
  color: #00b2d4 !important;
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 500 !important;
  margin-top: 20px;
}
/* btn prev & btn next */
/* singup start css */
.start-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.start-later-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
}

.input-filed-height {
  height: 50px;
}

/* upload file */
/* styles.css */

/* Style the container */
/* .container {
    text-align: center;
    margin-top: 150px;
  } */

/* Style the file input wrapper */
.file-input-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

/* Style the file input button */
.file-input-button {
  background-color: #00578a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the file input */
#cvUpload {
  position: absolute;
  font-size: 100px;
  opacity: 0;
  right: 0;
  top: 0;
  cursor: pointer;
}

/* Style the file name display */
.file-name {
  margin-top: 10px;
  font-style: italic;
  color: #555;
}

/* thankyou page css */
/* ThankYou.css */

.card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  border-radius: 10px; /* Add rounded corners */
}

/* Login Css */

.login_wrapper {
  width: 400px;
  border: 1px solid #0a2987;
  padding: 15px;
  margin: 180px auto 0 auto;
}

/* Account View  */
.sidebar_wrapper ul li {
  list-style: none;
  padding: 10px;
  border-radius: 10px;
  transition: 0.1s all;
  width: 80%;
  margin-block: 5px;
  text-align: center;
}
.sidebar_wrapper ul li a {
  text-decoration: none;
  color: white;
}
.sidebar_wrapper {
  height: 100vh;
  background-color: #00578a;
}
.sidebar_wrapper ul li:hover {
  background-color: #ffffff;
}
.sidebar_wrapper ul li:hover a {
  color: black;
}
.sidebar_wrapper ul li.active {
  background-color: #ffffff;
}
.sidebar_wrapper ul li.active a {
  color: black;
}

.thank_you_wrapper {
  margin: 200px auto 0 auto;
}

@media (max-width: 768px) {
  .btn-later {
    margin-top: 20px;
  }
  .btn_blue_mob {
    margin-top: 16px;
  }
}
/* toast notification custom */
.custom-toast {
  top: 80px;
  right: 20px;
  font-size: 14px;
}

.Toastify__toast-container--top-right {
  right: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.button_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: #f4f7fa;
  opacity: 0.7;
}

/* ------------toastify custon css ----------- */
@media (max-width: 578px) {
  .Toastify__toast-body > div:last-child {
    font-size: 12px;
  }
  .Toastify__toast-container--top-left,
  .Toastify__toast-container--top-center,
  .Toastify__toast-container--top-right {
    top: 1px !important;
  }
  .custom-toast {
    top: 80px;
    right: 0px;
    left: 13px;
    font-size: 14px;
    /* border: 2px solid red; */
    width: 350px;
  }
}
/* -------------------common RTL ------------- */

[dir="rtl"] .btn-signup {
  margin-left: 2rem;
}

@media (max-width: 578px) {
  .modal {
    height: 130% !important;
  }
  [dir="rtl"] .btn-signup {
    margin: 0 !important;
  }
}
[dir="rtl"] .btn-next {
  margin-right: 1rem;
}

[dir="rtl"] .rtl_text_align_start {
  text-align: end !important;
}
[dir="rtl"] .rtl_text_align_center {
  text-align: center !important;
}

[dir="rtl"] .rtl_chechbox {
  display: flex;
}
[dir="rtl"] .form-check .form-check-input {
  margin-left: 1rem !important;
}

[dir="rtl"] .rtl_margin_common {
  margin-inline: 1rem;
}

/* -------navbar-------------- */

.offcanvas {
  max-width: 70% !important;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}
.btn-close:focus {
  box-shadow: none !important;
}
.toggle-navbar {
  display: none;
}
/* .logo-img-div {
  width: 50%;
} */
/* .logo-img-div img{
  width: 65%;
} */
.offcanvas-header .btn-close {
  font-size: 15px;
}
@media (max-width: 768px) {
  .toggle-navbar {
    display: block;
  }
}

/* slick css */
/* Add styles for slider arrows */
/* .sliderArrows {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.prevArrow,
.nextArrow {
  width: 30px;
  height: 30px;
  background-color: #000000 !important;
  margin: 0 5px;
  cursor: pointer;
}

.slick-prev {
  width: 30px !important;
  height: 30px !important;
  background-color: #000000 !important;
  margin: 0 5px;
  cursor: pointer;
  left:-180px !important;
  top:93% !important;
}
.slick-next {
  width: 30px !important;
  height: 30px !important;
  background-color: #000000 !important;
  margin: 0 5px;
  cursor: pointer;
  left: -134px !important;
  right: 0 !important;
  top:93% !important;
} */

.MuiOutlinedInput-root {
  height: 40px !important;
}
.modal-footer {
  border-top: none;
}
.modal-header {
  border-bottom: none;
}
/* Preferences */
.radio-item input[type="radio"] {
  transform: scale(1.5); /* Adjust the scale factor as needed */
  margin-right: 8px; /* Adjust the spacing between the radio button and label */
}

[dir="rtl"] .radio-item input[type="radio"] {
  transform: scale(1.5);
  margin-right: 0;
  margin-left: 12px;
}

.radio-item label {
  font-size: 14px; /* Adjust the font size of the label */
  vertical-align: middle; /* Align the label vertically with the radio button */
}

/* mui stepper css */
.stepper_css .MuiStepIcon-root {
  width: 36px; /* Set the width of the circle */
  height: 36px; /* Set the height of the circle */
  color: #ffffff !important; /* Set the color of the circle */
}

.stepper_css .MuiStepConnector-root {
  margin-left: 18px;
}
.stepper_css .MuiStepIcon-text {
  font-size: 13px !important; /* Set the font size of the number inside the circle */
  fill: #00b2d4 !important;
}

.stepper_css .MuiStepLabel-label {
  color: #ffffff !important;
}

[dir="rtl"] .stepper_css .MuiStepLabel-root {
  text-align: right !important;
}
[dir="rtl"] .stepper_css .MuiStepConnector-root {
  display: flex;
  margin-right: 24px;
}
[dir="rtl"] .stepper_css .MuiStepLabel-label {
  margin-right: 8px;
}

/* bio RTL steps */
[dir="rtl"] .bio_step .MuiStepConnector-root {
  left: calc(50% + 20px) !important;
  right: calc(-50% + 20px) !important;
  /* z-index: 5 !important; */
}
/* Bio select languages/skills css */
/* Dropdown CSS */
.dropdown-ul-list {
  z-index: 1700 !important;
}
.dropdown-ul-list {
  position: absolute;
  max-height: 170px;
  width: 100%;
  overflow-y: auto;
  background-color: #ffffff;
  list-style: none;
  padding: 0;
  cursor: pointer;
}
.dropdown-ul-list li {
  padding: 2px 4px;
  font-size: 0.9rem;
}
.dropdown-ul-list li:hover {
  background-color: #787878;
  color: white;
  font-size: 18px !important;
}
.selected {
  background-color: #787878 !important;
  color: white;
  font-size: 1rem !important;
}
.dropdown-ul-list::-webkit-scrollbar {
  width: 6px; /* adjust as needed */
}

.dropdown-ul-list::-webkit-scrollbar-thumb {
  background-color: #e2d8d8f6; /* color of the thumb */
  border-radius: 3px;
}

.dropdown-ul-list::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* color of the track */
}
/* Dropdown CSS */
