.landing_wrapper {
    background-color: #ffffff;
    /* margin-top: 70px; */
    min-height: 100vh;
    overflow: hidden;
}

.landing_content{
    /* margin-top: 10px; */
    /* margin-bottom: 150px; */
}
/* .landing_details h1{
    width: 70%;
} */
.landing_details{
    display: flex;
    justify-content: center;
}

.count_item_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.count_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 180px; 
  height: 120px; 
  /* background-color: #eee;  */
  /* border: 1px solid #0056b3; */
  /* border-radius: 50%; */
  font-size: 18px;
  padding: 10px;
  margin: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  position: relative;

  /* Adding 3D look using box-shadow and gradient */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 0 8px rgba(0, 0, 0, 0.1);
}

.count_item:hover {
  transform: scale(1.05); /* Adding a slight scale effect on hover */
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4), 0 0 12px rgba(0, 0, 0, 0.2);
}

.count_item::before,
.count_item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* .count_item::before {
  background: radial-gradient(circle at 30% 50%, #fff, transparent 40%);
  top: 5%;
  left: -10%;
}

.count_item::after {
  background: radial-gradient(circle at 70% 50%, #fff, transparent 40%);
  bottom: 5%;
  right: -10%;
} */

  .count_item:hover {
    /* background-color: #0056b3; */
  }

  .count_item h3 {
    font-weight: 700;
    font-size: 35px;
    color:#00b2d4 !important;
  }
  .count_item h5 {
    font-weight: 700;
    font-size: 16px;
    color:#00b2d4 !important;
  }
/* let started button */
.get_started_btn {
    text-align: center;
    /* margin: 48px 0; */
}
.get_started_btn .btn {
    /* background-color:  #00578A; */
    background-color:  #00578A;
    color:#ffffff;
    border: 0.5px solid #00578A;
    border-radius: 3px;
    font-size: 18px;
    /* font-weight: 700; */
    height: 40px;
    min-width: 240px;
    line-height: 28px;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.get_started_btn .btn:hover {
    background-color: #ffffff ;
    color:#00578A;
   
}
/* .count_container {
    width: 70px;
    text-align: center;
    position: relative;
  } */
/*   
  .count_container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: grey; 
  } */
/* landing image */
.image_section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing_image_wrapper{
    margin: 20px 0;
    max-width: 450px;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}

.social_link{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    margin-bottom:20px;
}

/* media query */

@media screen and (max-width: 992px) {
    .landing_wrapper {  
        height: 100% !important;
    }

}

@media (max-width: 578px) {
    [dir="rtl"] .landing_item_center_center {
      align-items: center !important;
    }
    .landing_item_center_center {
      align-items: center !important;
    }

    .landing_content{
      /* margin-top: 10px; */
    }

  }