/* service card component css */
.our_services_wrapper {
  padding: 80px 0;
}

.services_heading {
  /* text-align: center; */
  margin-bottom: 30px;
}

.services_heading h1 {
  font-size: 24px !important;
  display: inline-block;
}

.services_card {
  background-color: #f2f2f2 !important;
  /* width: 430px; */
  margin-right: 20px !important;
  height: 281px;
  position: relative; /* Added position relative for absolute positioning */
}

.service_title {
  width: 217px;
  height: 60px;
  padding-top: 24px;
  padding-left: 24px;
}

.service_title h1 {
  font-size: 24px;
  font-weight: 400;
}

.sliderItem {
  margin-right: 5px; /* Add your desired margin */
}
.learn_more {
  position: absolute;
  bottom: 10px;
  left: 24px; /* Adjusted padding left */
}
.learn_more a {
  color: #000000;
  font-weight: 500;
}
.services_image {
  position: absolute;
  bottom: 0; /* Adjusted bottom padding */
  right: 60px;
  /* left:308px */
}

.arrowContainer {
  display: flex;
  margin-top: 150px;
}

.arrow_margin {
  margin-right: 40px;
}
[dir="rtl"] .arrow_margin {
  margin-right: 0;
  margin-left: 40px;
}
[dir="rtl"] .service_title {
  padding-top: 24px;
  padding-right: 24px;
  width: 100%;
  text-align: end;
}
/* media query */
@media (max-width: 768px) {
  [dir="rtl"] .service_title {
    padding-top: 24px;
    padding-right: 47px;
    width: 100%;
    text-align: end;
  }
  .services_card {
    background-color: #f2f2f2 !important;
    width: 385px;
    height: 250px;
    position: relative; /* Added position relative for absolute positioning */
  }

  .arrowContainer {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .services_heading h1 {
    font-size: 20px;
    font-weight: 400;
  }
}

@media (min-width: 768px) and (max-width: 768px) {
  .services_card {
    background-color: #f2f2f2 !important;
    width: 500px;
    height: 250px;
    margin-left: 50px;
    position: relative;
  }

  .arrowContainer {
    margin-top: 130px;
    margin-left: 8px;
  }

  .services_heading {
    width: 140px;
    font-weight: 600;
  }
}

@media (max-width: 578px) {
  .our_services_wrapper {
    padding: 40px 0;
  }
}
