.wizard_wrapper{
    margin-top: 100px;
}
.common_wizard_wrapper{
    margin: 50px auto;
}
.image_cont{
    position: relative;
}
.wizard_cont{
    position: absolute !important;
    top: 1rem;
    right: 5rem;
}

.progress_bar_div{
    position: absolute !important;
    background-color: transparent !important;
    width: 100%;
    z-index: -1;
}

.progress_bar{
    position: absolute !important;
    background-color: transparent !important;
    display: flex;
    justify-content: end;
    
}
.progress_bar span{
    height: 15px ;
    border-radius: 25px;
    width: 80%;
    background-color: white;
    border: 1px solid rgb(214, 214, 214);
}
.progress_bar span span{
    width: 100%;
    background-color: #00578A;
    border: none;
}
.step_hr{
    height: 5px;
    width: 5rem;
    background-color:#ffffff;
    opacity: 1;
    border-radius: 5px;
    margin-block: 5px;
}
.wizard_cont .MuiStep-roo.MuiStep-vertica.css-8wcvy5-MuiStep-root{
    fill: #00578A !important;
}

@media  (max-width:768px) {

    .wizard_wrapper {
        margin-top: 160px;
    }
    
}