.wizard_wrapper {
  margin-top: 100px;
}
.common_wizard_wrapper {
  margin: 50px auto;
}
.image_cont {
  position: relative;
}
.wizard_cont {
  position: absolute !important;
  top: 1rem;
  right: 5rem;
}




.cross_class {
  font-size: 24px;
  color: red;
}
@media (max-width: 768px) {
  .wizard_wrapper {
    margin-top: 50px;
  }
}
/* new css */

.other_info input[type="text"] {
  height: 44px; /* Set the desired height for input fields of type text */
}
.other_info select {
  height: 44px; /* Set the desired height for input fields of type text and select elements */
}

.label_color {
 color: rgba(120, 120, 120, 1)
}

/* button */
/* .button_wrapper{
  position: absolute;
  top: 184px;
  right: 338px;
 width: 360px;
 height: 315px;
margin: 0 auto;
} */
.next_button {
  width:360px;
  height:48px;
  border-radius: 100px;
  background: #00A5CD;
  color: #ffffff;
  margin-top: -10px;

}
.next_button:hover {
  background:#ffffff;
  color: #000000;
  /* margin-top: -220px; */
  border: 1px solid #00A5CD;

}

.prev_button {
  width:360px;
  height:48px;
  border-radius: 100px;
  background:  #00A5CD;
  color: #ffffff;
  /* margin-top: -260px; */

}
.prev_button:hover {
  background:#ffffff;
  color: #000000;
  /* margin-top: -220px; */
  border: 1px solid #00A5CD;

}


/* Stepper secrtopn*/
.stepper_wrapper {
  margin-top: 100px;
  width: 300px
}

.stepper_content {
  width: 200px;
}


/* Prefrences  */
.radio_border {
  border: 1px solid #00A5CD;
  border-radius:8px ;
  padding: 12px;
  margin-bottom: 12px;
}
.radio_btn_border {
  border: 1px solid rgba(200, 197, 198, 1);
  border-radius:8px ;
  padding: 12px;
  margin-bottom: 12px;
}

